body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}
input {
  width: 100%;
  display: block;
}
p {
  margin: 0px;
}
ul {
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.welcome {
  background-image: url(./img/@\ Gradient.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.navigation__list {
  list-style: none;
  display: flex;
}
.navigation__list-item {
  margin-right: 41px;
}
.navigation__list-item:nth-child(5) {
  margin-right: 54px;
}
.navigation__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
  padding: 52px 0px 0px;
}
.header__logo-wrap {
  margin-right: 22px;
}
.header__form {
  display: flex;
}
.header__form-input {
  margin-right: 12px;
  align-items: flex-start;
  border: 1px solid #e8e8e8;
  opacity: 0.12;
  border-radius: 39px;
  padding: 19px 166px 19px 39px;
}
.header__form-button {
  background: #ffffff;
  border-radius: 35px;
  padding: 19px 38px;
  border: 1px solid #ffffff;
  color: #2091f9;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.header__form-login {
  display: none;
}
.center__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center__text {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 17px;
}
.center__title {
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 27px;
  text-align: center;
}
.center__title-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 429px;
  height: 40px;
  text-align: center;
  margin-bottom: 90px;
}
.center__botton-subtitle {
  background: #ffffff;
  border-radius: 35px;
  border: 1px solid #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #2091f9;
  width: 236px;
  height: 65px;
  margin-bottom: 114px;
}
.subtitle__img-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 134px;
}
.subtitle__img {
  width: 100%;
  max-width: 1054px;
}
.features {
  padding-top: 94px;
  margin-bottom: 154px;
}
.features__title-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.features__text {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin-bottom: 17px;
}
.features__title {
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}
.features__text-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 138px;
}
.image__content-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img__media-png {
  max-width: 949px;
  -webkit-box-shadow: 0px 9.85769px 19.7154px rgba(0, 0, 0, 0.16),
    0px 9.85769px 131.436px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 9.85769px 19.7154px rgba(0, 0, 0, 0.16),
    0px 9.85769px 131.436px rgba(0, 0, 0, 0.23);
}
.media {
  margin-bottom: -5px;
}
.img__media {
  width: 100%;
  object-fit: contain;
}
.content__img-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.content__img {
  margin-right: 10px;
}
.content__fingertips-block {
  max-width: 255px;
}
.content__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}
.leader__block {
  margin-bottom: 95px;
}
.prototyping {
  background-image: url("./img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(39.97deg, #00f3b9 0.79%, #2187ff 79.29%);
  margin-bottom: 216px;
  padding: 100px 0px;
}
.prototyping__title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.prototyping__over-text {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 17px;
}
.prototyping__title {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}
.prototyping__text-subtitle {
  width: 298px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 90px;
  color: #ffffff;
}
.button__buy-wrap {
  display: flex;
  justify-content: center;
}
.button__buy {
  margin-right: 15px;
  background: #ffffff;
  border-radius: 35px;
  border: 1px solid #ffffff;
  padding: 18px 31px;
  color: #2091f9;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
}
.button__free {
  border-radius: 35px;
  padding: 18px 60px;
  border: 1px solid #ffffff;
  order: 2;
  background-color: transparent;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.fast__prototyping {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 109px;
}
.fast__prototyping-wrap {
  margin-right: 123px;
}
.fast__prototypung-img {
  width: 100%;
}
.posting__over-text {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 17px;
}
.fast__prototyping-title {
  width: 296px;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 35px;
}
.newsletter__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.newsletter__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #374754;
  margin-bottom: 34px;
}
.news__posting-form {
  display: flex;
}
.form__input-email {
  margin-right: 12px;
  border-radius: 39px;
  border: 1px solid #e8e8e8;
  padding: 19px 166px 19px 39px;
  background: #f4f4f4;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #18171d;
  letter-spacing: 0.1px;
}
.form__button-subscribe {
  background: #2091f9;
  border-radius: 35px;
  padding: 19px 38px;
  border: 1px solid #2091f9;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.partners {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 90px 0px 80px;
}
.partners__title-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.partners__title {
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}
.partners__title__subtitle {
  width: 298px;
  margin-bottom: 110px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #374754;
  text-align: center;
}
.partners__list-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.partners__list-item {
  margin-right: 67px;
}
.partners__list-item:nth-last-child(1) {
  margin-right: 0px;
}
.partners__button {
  background: #2091f9;
  border: 1px solid #2091f9;
  border-radius: 35px;
  padding: 16px 58px;
  color: #ffffff;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}
.testimonials {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.testimonials__title {
  margin-bottom: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.testimonials__list-card {
  list-style: none;
  max-width: 1220px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.testimonials__card-item {
  width: 335px;
  margin-right: 60px;
  padding: 40px 42px 50px 42px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  border: 1px solid #dedede;
}
.testimonials__card-item:nth-child(1) {
  margin-bottom: 104px;
}
.testimonials__card-item:nth-child(2) {
  margin-bottom: 104px;
}
.testimonials__card-item:nth-child(3) {
  margin-right: 0px;
  margin-bottom: 104px;
}
.testimonials__card-item:nth-child(6) {
  margin-right: 0px;
}
.testimonials__card-img {
  margin-bottom: 40px;
}
.testimonials__card-text {
  width: 251px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #374754;
  margin: 0px auto;
  margin-bottom: 40px;
}
.testimonials__block-star {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.testimonials__card-star {
  margin-right: 4px;
}
.testimonials__card-name {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 10px;
}
.testimonials__card-designer {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
}
.contact__link-button {
  display: contents;
}
.testimonials__button {
  background: #2091f9;
  border-radius: 35px;
  padding: 16px 47px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.pricing {
  background: #252b42;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 210px;
  padding: 100px 0px;
}
.pricing_content-wrap {
  margin-right: 274px;
}
.pricing__title {
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 26px;
}
.pricing__text {
  width: 341px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.free__trial-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 16px;
}
.free__trial-wrap {
  padding-top: 70px;
}
.free__icon-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.icon__price {
  margin-right: 10px;
}
.icopn__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.free__trial-text {
  width: 218px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 45px;
}
.free__trial-button {
  background: #2091f9;
  border-radius: 35px;
  padding: 18px 38px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  border: 1px solid #2091f9;
}
.contact__us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 99px;
}
.contact__title {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}
.content__subtitle {
  width: 298px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #374754;
  text-align: center;
  margin-bottom: 75px;
}
.contact__network-list {
  list-style: none;
  display: flex;
  margin-bottom: 75px;
}
.contact__network-item {
  margin-right: 33px;
}
.contact__network-item:nth-child(3) {
  margin-right: 0px;
}
.contact__maps-wrap {
  margin-bottom: 60px;
}
.location__list {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}
.location__list-item {
  margin-right: 35px;
}
.location__list-item:nth-child(3) {
  margin-right: 0px;
}
.location__icon {
  margin-bottom: 20px;
}
.address {
  width: 208px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
}
.item__text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
}
.form_group {
  padding: 52px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 20px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__title-form {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 45px;
}
.input__form-name {
  border-radius: 39px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  padding: 19px 623px 19px 20px;
  margin-bottom: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}
.input__form-email {
  border-radius: 39px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  padding: 19px 623px 19px 20px;
  margin-bottom: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}
.textarea__message {
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 45px;
  color: black;
  padding: 20px 0px 0px 20px;
}
.contact__link-button {
  text-decoration: none;
}
.contact__button-send {
  background: #2091f9;
  border-radius: 35px;
  padding: 18px 54px;
  border: 1px solid #2091f9;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  letter-spacing: 0.2px;
  flex: none;
  order: 4;
  align-self: flex-start;
  flex-grow: 0;
}
.footer {
  background: #252b42;
  display: flex;
  justify-content: center;
  padding: 107px 0px;
}
.developers__wrap {
  display: flex;
}
.pages__list {
  list-style: none;
  margin-right: 128px;
}
.pages__title {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.pages__list-item {
  margin-bottom: 16px;
}
.pages__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.tomothy__list {
  list-style: none;
  margin-right: 91px;
}
.tomothy__list-title {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.tomothy__list-item {
  margin-bottom: 16px;
}
.tomothy__link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
}
.jane__black-list {
  list-style: none;
  margin-right: 159px;
}
.jane__black-title {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.jane__black-item {
  margin-bottom: 16px;
}
.jane__black-link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
}
.networks__list {
  display: flex;
  list-style: none;
}
.networks__list-item:nth-last-child(1) {
  margin-right: 0px;
}
.networks__list-item {
  margin-right: 32px;
  margin-bottom: 33px;
}
.exclusiv__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 5px;
}
.exclusiv__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 29px;
}
.exclusiv__form-group {
  max-width: 353px;
}
.input__email {
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 140px 19px 35px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}
.exclusiv__subsribe {
  background: #2091f9;
  border: 1px solid #2091f9;
  border-radius: 35px;
  padding: 17px 144px 17px 144px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .pricing {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .pricing_content-wrap {
    margin-right: 0px;
  }
  .location__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .location__icon {
    margin-right: 15px;
  }
  .form__input-email {
    margin-bottom: 12px;
    margin-right: 0px;
    width: 290px;
    padding: 20px 20px;
  }
  .input__form-name {
    padding: 20px 20px 20px 20px;
  }
  .input__form-email {
    padding: 20px 20px 20px 20px;
  }
  .input__form-message {
    padding: 20px 20px 50px 20px;
  }
  .pricing__text {
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    padding: 0px 20px;
    width: unset;
  }
  .free__trial-wrap {
    text-align: center;
  }
  .testimonials__card-item {
    width: unset;
    padding: 40px 20px 50px 20px;
  }
  .location__list-item {
    margin-right: 0px;
    display: flex;
  }
  .center__title-subtitle {
    width: unset;
    margin-bottom: 60px;
  }
  .center__title {
    font-size: 44px;
    line-height: 48px;
  }
  .center__botton-subtitle {
    margin-bottom: 70px;
  }
  .subtitle__img-wrap {
    margin-bottom: 70px;
  }
  .header {
    flex-direction: column;
    margin-bottom: 70px;
  }
  .header__logo-wrap {
    margin-right: 0px;
  }
  .header__form {
    display: none;
  }
  .nav {
    display: none;
  }
  .header__form-login {
    display: block;
    background: #ffffff;
    border-radius: 35px;
    padding: 19px 38px;
    border: 1px solid #ffffff;
    color: #2091f9;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;
  }
  .features {
    padding-top: 30px;
    margin-bottom: 70px;
  }
  .features__text-subtitle {
    margin-bottom: 70px;
  }
  .image__content-wrap {
    flex-direction: column;
  }
  .img__media-png {
    margin-bottom: 70px;
  }
  .leader__block {
    margin-bottom: 50px;
  }
  .prototyping {
    margin-bottom: 100px;
  }
  .button__buy-wrap {
    flex-direction: column;
    align-items: center;
  }
  .button__buy {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .fast__prototyping {
    margin-bottom: 70px;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  .fast__prototyping-title {
    line-height: 48px;
    width: unset;
    margin-bottom: 350px;
  }
  .pricing__title {
    text-align: center;
  }
  .news__posting-wrap {
    margin-bottom: 70px;
  }
  .news__posting-form {
    flex-direction: column;
    align-items: center;
  }
  .fast__prototyping-wrap {
    margin-right: 0px;
    position: absolute;
    right: 50px;
    bottom: 350px;
  }
  .form__button-subscribe {
    width: 290px;
  }
  .partners {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .partners__title__subtitle {
    margin-bottom: 50px;
  }
  .partners__list-links {
    margin-bottom: 70px;
    flex-direction: column;
  }
  .partners__list-item:nth-child(7) {
    display: none;
  }
  .partners__list-item {
    margin-right: 0px;
  }
  .testimonials {
    padding-top: 50px;
  }
  .testimonials__title {
    margin-bottom: 60px;
  }
  .testimonials__card-item {
    margin-right: 0px;
    margin-bottom: 104px;
  }
  .content__subtitle {
    margin-bottom: 50px;
  }
  .contact__maps-img {
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .developers__wrap {
    flex-direction: column;
    text-align: center;
  }
  .pages__list {
    margin-right: 0px;
  }
  .tomothy__list {
    margin-right: 0px;
  }
  .jane__black-list {
    margin-right: 0px;
  }
  .newsletter__wrap {
    text-align: center;
  }
  .networks__list {
    justify-content: center;
  }
  .exclusiv__form-group {
    text-align: -webkit-center;
    max-width: unset;
    margin: 0px auto;
  }
  .input__email {
    width: 290px;
    padding: 20px;
  }
  .exclusiv__subsribe {
    width: 290px;
    padding: 20px;
  }
}
@media screen and (min-width: 420px) {
  .header {
    flex-direction: row;
  }
  .header__form-login {
    margin-right: 21px;
  }
  .subtitle__img-wrap {
    padding: 0px 20px;
  }
  .button__buy-wrap {
    flex-direction: row;
    align-items: baseline;
  }
  .button__buy {
    margin-right: 16px;
  }
  .fast__prototyping {
    position: relative;
  }
  .fast__prototyping-title {
    margin-bottom: 400px;
  }
  .fast__prototyping-wrap {
    position: absolute;
    top: 230px;
  }
  .form__input-email {
    width: 350px;
  }
  .form__button-subscribe {
    width: 350px;
  }
  .contact__maps-img {
    height: 320px;
    object-fit: cover;
    padding: 0px 30px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    justify-content: space-around;
    margin-bottom: 120px;
  }
  .center__title-subtitle {
    width: 429px;
  }
  .fast__prototyping {
    position: relative;
  }
  .fast__prototyping-title {
    margin-bottom: 680px;
  }
  .fast__prototyping-wrap {
    position: absolute;
    right: 100px;
  }
  .testimonials__card-item {
    margin-right: 30px;
  }
  .testimonials__card-item:nth-child(3) {
    margin-right: 30px;
  }
  .pricing__text {
    width: 340px;
  }
  .location__list-item {
    display: initial;
  }
  .input__form-name {
    width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    margin-bottom: 150px;
  }
  .header__logo-wrap {
    margin-right: 50px;
  }
  .nav {
    display: block;
  }
  .header__menu-img {
    display: none;
  }
  .center__title-subtitle {
    width: 429px;
  }
  .center__botton-subtitle {
    margin-bottom: 100px;
  }
  .features {
    padding-top: 100px;
  }
  .fast__prototyping {
    position: relative;
  }
  .fast__prototyping-title {
    margin-bottom: 750px;
  }
  .fast__prototyping-wrap {
    position: absolute;
    right: 200px;
  }
  .partners__list-links {
    flex-direction: row;
  }
  .partners__list-item {
    margin-right: 30px;
  }
  .partners__list-item:nth-child(7) {
    display: block;
  }
  .testimonials__card-item {
    margin-right: 60px;
  }
  .pricing {
    flex-direction: row;
  }
  .pricing_content-wrap {
    margin-right: 274px;
  }
  .pricing__title {
    text-align: inherit;
  }
  .pricing__text {
    width: 341px;
    padding: 0px;
    text-align: inherit;
  }
  .free__trial-wrap {
    text-align: inherit;
  }
  .location__list-item {
    display: flow-root;
  }
  .input__form-name {
    width: 768px;
  }
  .input__email {
    width: 350px;
  }
  .exclusiv__subsribe {
    width: 350px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    justify-content: center;
  }
  .header__form {
    display: block;
    display: flex;
  }
  .header__form-login {
    display: none;
  }
  .features {
    margin-bottom: 150px;
  }
  .image__content-wrap {
    flex-direction: row;
  }
  .features__text-subtitle {
    margin-bottom: 130px;
  }
  .leader__block {
    margin-bottom: 95px;
  }
  .prototyping {
    margin-bottom: 200px;
  }
  .fast__prototyping {
  }
  .fast__prototyping-wrap {
    right: 750px;
    top: 0px;
  }
  .fast__prototypung-img {
  }
  .news__posting-wrap {
    margin-left: 700px;
    text-align: initial;
    padding-top: 100px;
  }
  .fast__prototyping-title {
    margin-bottom: 35px;
    width: 296px;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
  }
  .news__posting-form {
    flex-direction: row;
    align-items: baseline;
  }
  .form__input-email {
    margin-right: 12px;
  }
  .form__button-subscribe {
    width: unset;
  }
  .testimonials__card-item:nth-child(3) {
    margin-right: 0px;
  }.footer {
    flex-direction: row;
  }
  .developers__wrap {
    flex-direction: row;
  }
  .pages__list {
    margin-right: 128px;
    text-align: start;
  }
  .tomothy__list {
    margin-right: 91px;
    text-align: start;
  }
  .jane__black-list {
    margin-right: 156px;
    text-align: start;
  }
  .newsletter__wrap {
    text-align: start;
  }
  .networks__list {
     justify-content: start;
  }
}
@media screen and (min-width: 1884px) {
.fast__prototyping {
  position: relative;
}
.fast__prototyping-wrap {
  right: 1000px;
}
}
